.vscode/**
.vscode-test/**
test/**
.gitignore
jsconfig.json
vsc-extension-quickstart.md
.eslintrc.json
.clj-kondo/**
.cpcache/**
.shadow-cljs/**
src/**
deps.edn
shadow-cljs.edn
vscode-cljfmt.sublime-project
vscode-cljfmt.sublime-workspace
