{:paths ["src"]

 :deps
 {org.clojure/clojure {:mvn/version "1.12.3"}
  dev.weavejester/cljfmt {:mvn/version "0.15.3"}}

 :aliases
 {:repl
  {:jvm-opts ["-Dclojure.server.repl={:port,5555,:accept,clojure.core.server/repl}"]}

  :dev
  {:extra-deps
   {thheller/shadow-cljs {:mvn/version "3.2.1"}}}}}
