{:dependencies [[cljfmt "0.6.7"]]

 :source-paths ["src"]

 :builds
 {:extension
  {:target :node-library
   :compiler-options {:optimizations :simple}
   :exports {:activate vscode-cljfmt.core/activate}
   :output-to "extension.js"}}}